<div class="modal-header">
  <h4 class="modal-title">Add/Edit State</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="stateName">Name</label>
        <input
          type="text"
          id="stateName"
          name="stateName"
          class="form-control"
          [(ngModel)]="activeState.name">
      </div>
      <div>
        <label><img src="../../../../assets/images/icons/Logo.svg" class="modal-form-icon">
          State Description</label>
        <div class="quillBackground">
          <quill-editor [(ngModel)]="activeState.description" theme='snow' [style]="{height: '250px'}"></quill-editor>
        </div>
      </div>
      <div class="form-group" style="padding-top: 10px">
        <label for="from"><img src="../../../../assets/images/icons/hourglass.svg" class="modal-form-icon">
          State Date</label>
        <input
          type="text"
          id="from"
          name="from"
          class="form-control"
          placeholder="Date of the map your basing the area on"
          [(ngModel)]="activeState.date">
      </div>
      <div class="form-group">
        <label for="population">
          <img src="../../../../assets/images/icons/population.svg" class="modal-form-icon">
          Population</label>
        <input type="number"
               class="form-control"
               id="population"
               [(ngModel)]="activeState.population">
      </div>
      <div class="form-group">
        <label for="economy"><img src="../../../../assets/images/icons/coins.svg" class="modal-form-icon">
          Economy</label>
        <select
          id="economy"
          name="economy"
          class="form-control"
          [(ngModel)]="activeState.economy">
          <option *ngFor="let type of economyOptions" [value]="type.id">
            {{type.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="civilisation"><img src="../../../../assets/images/icons/nefertiti.svg" class="modal-form-icon">
          Government Type</label>
        <select
          id="civilisation"
          name="civilisation"
          class="form-control"
          [(ngModel)]="activeState.civilisation">
          <option *ngFor="let type of humanSubTypesOptions" [value]="type.id">
            {{type.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="reference"><img src="../../../../assets/images/icons/wikipedia.svg" class="modal-form-icon">
          Reference</label>
        <input
          type="text"
          id="reference"
          name="reference"
          class="form-control"
          placeholder="Wikipedia link"
          [(ngModel)]="activeState.reference">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="save()">Save</button>
  <button type="button" class="btn" (click)="activeModal.close()">Close</button>
</div>
