<div class="row" style="padding-bottom: 20px">
  <div class="col-md-12">
    <div class="card" style="width: auto;">
      <div class="map-container" id="map"></div>
      <div class="card-body">
        <h5 class="card-title">{{ activeState.name }}</h5>
        <p class="card-text">{{ activeState.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-group">
            <label for="from">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              [(ngModel)]="activeState.name">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="from">Description</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              [(ngModel)]="activeState.description">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="from">From</label>
            <input
              type="text"
              id="from"
              name="from"
              class="form-control"
              [(ngModel)]="activeState.date">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="colour">Colour</label>
            <input
              type="text"
              id="colour"
              name="colour"
              class="form-control"
              [(ngModel)]="area.colour">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="type">State Type</label>
            <input
              type="number"
              id="type"
              name="type"
              class="form-control"
              [(ngModel)]="area.polygonType">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="type">Reference</label>
            <input
              type="text"
              id="reference"
              name="reference"
              class="form-control"
              [(ngModel)]="activeState.reference">
          </div>
        </li>
      </ul>
      <div class="card-body">
        <a (click)="saveState()" class="btn btn-primary card-link">Save State</a>
        <button
          (click)="extendState(activeState)">
          Duplicate</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <td class="pull-right">
          <button
            class="btn btn-success"
            (click)="createNewState()">
            New State
          </button>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let state of states" (click)="activateState(state)">
        <td>{{ state.name }}</td>
        <td>{{ state.description }}</td>
        <td>{{ state.date }}</td>
        <td>
          <button>Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
