<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <app-country-map
      [mapCountry]='activeCountry'>
    </app-country-map>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="card card-dark">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
          <div class="card card-light-panel">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <h3>
                    <span>
                      <img src="../../../../assets/images/icons/parthenon.svg" style="width: 30px;">
                    </span>
                    {{ activeCountry.name }}
                  </h3>
                  <img src="{{ activeCountry.flag }}" alt="" style="height: 300px; width: 100%">
                </div>
                <div class="col-md-8">
                  <p class="card-text text-center">{{ activeCountry.fromDate | yearDisplayer }} -
                     {{ activeCountry.toDate | yearDisplayer }}</p>
                  <div class="card-text" [innerHTML]="activeCountry.description"></div>
                </div>
              </div>
              <div class="row">
                <button
                  type="button"
                  class="btn btn-primary btn-block"
                  (click)="editCountry()">Edit Country</button>
              </div>
            </div>
          </div>

          <div class="card card-light-panel">
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <h1>
                    <span><img src="../../../../assets/images/icons/torch.svg" style="width: 30px;"></span>
                    <u><strong>Eras</strong></u></h1>
                </div>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th><button
                      class="btn btn-icon-primary pull-right"
                      (click)="createNewState()">
                      <span><fa name="plus"></fa></span>Add new Era
                    </button></th>
                  </tr>
                  <tr>
                    <th>State Name</th>
                    <th>Date</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let state of states let idx = index">
                    <td>{{ state.name }}</td>
                    <td>{{ state.date }}</td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-icon-primary card-link"
                          (click)="activateState(state, idx)">
                          <span><fa name="pencil"></fa></span></button>
                        <button
                          class="btn btn-icon-primary card-link"
                          (click)="deleteState(state, idx)">
                          <span><fa name="times"></fa></span></button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--Territories-->
          <div class="card card-light-panel">
            <div class="row" [hidden]="creatingCountry">
              <div class="col-md-12">
                <h1>
                  <span><img src="../../../../assets/images/icons/laurel.svg" style="width: 35px;"></span>
                  <u><strong>Territories</strong></u></h1>
              </div>
              <div class="col-md-12">
                <div class="map-container" id="territoryPreview"></div>
              </div>
              <div class="col-md-12">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th><button
                      class="btn btn-icon-primary pull-right"
                      (click)="createNewTerritory()">
                      Add New Territory
                      <span><fa name="plus"></fa></span>
                    </button></th>
                  </tr>
                  <tr>
                    <th>Territory Name</th>
                    <th>Date</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let territory of territories let idx = index">
                    <td>{{ territory.name }}</td>
                    <td>{{ territory.date }}</td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-icon-primary card-link"
                          (click)="displayAreaById(territory.areaId)">
                          <span><fa name="eye"></fa></span></button>
                        <button
                          class="btn btn-icon-primary card-link"
                          (click)="activateTerritory(territory, null, idx)">
                          <span><fa name="pencil"></fa></span></button>
                        <button
                          class="btn btn-icon-primary card-link"
                          (click)="duplicateNewTerritory(territory, null, idx)">
                          <span><fa name="copy"></fa></span></button>
                        <button
                          *ngIf="!showStateEdit"
                          class="btn btn-icon-primary card-link"
                          (click)="deleteTerritory(territory, index)">
                          <span><fa name="times"></fa></span></button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-1"></div>
</div>
