.era-panorama {
  max-height: 200px;
}

.statusIcon {
  cursor: pointer;
  height: 35px;
}

.dashboard-flag {
  height: 150px;
  width: 300px;
}

.countryDashboard {
  width: 400px;
  position: fixed;
  top: 90px;
  right: 0px;
  z-index: 9999;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

