<div class="card card-light-panel countryDashboard" *ngIf="activeCountry">
  <div class="card-body longtext" style="height: 100%">
    <h3 class="card-title text-center">{{ activeCountry.name }}</h3>
    <div class="text-center">
      <img src="{{ activeCountry.flag }}" alt="" class="dashboard-flag img-thumbnail">
    </div>
    <p class="card-text text-center">{{ activeCountry.fromDate | yearDisplayer }} - {{ activeCountry.toDate | yearDisplayer }}</p>
    <hr>
    <div [innerHTML]="activeCountry.description"></div>
    <app-reference-widget
      [referenceId]="activeCountry.referenceId"
      [editMode]="false">
    </app-reference-widget>
    <div *ngIf="activeState">
      <p class="card-text text-center">{{ activeState.name }} - {{ activeState.date | yearDisplayer }}</p>
      <div *ngIf="activeState.traits.length > 0">
      <span
        *ngFor="let trait of activeState.traits"
        title="{{ trait.description }}">
        <img
          class="statusIcon"
          [src]="trait.icon | safeHtml">
      </span>
      </div>
      <hr>
      <div *ngIf="activeState" [innerHTML]="activeState.description"></div>
      <app-reference-widget
        [referenceId]="activeState.referenceId"
        [editMode]="false">
      </app-reference-widget>
    </div>
  </div>
</div>
