<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-2 text-center">
    <input
      type="text"
      id="search"
      placeholder="South Africa"
      [(ngModel)]="searchText"
      (ngModelChange)="search()">
  </div>
  <div class="col-md-2">
    <button
      class="btn btn-primary pull-right"
      (click)="createNewCountry()">
      Add new country
    </button>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="list-group">
      <a class="list-group-item list-group-item-action"
        *ngFor="let country of displayedCountries"
        (click)="goToCountry(country)">
        <div class="row">
          <div class="col-md-2"><img src="{{ country.flag }}" class="countryFlag"></div>
          <div class="col-md-10">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ country.name }}</h5>
            </div>
            <small>From {{ country.fromDate }} to {{ country.toDate }}</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
