<div class="row">
  <!--<div class="col-md-1"></div>-->
  <div class="col-md-9">
    <div class="map-container" id="map"></div>
  </div>
  <div class="col-md-3">
    <app-country-dashboard [activeCountry]="activeCountry" [activeState]="activeState"></app-country-dashboard>
  </div>
  <!--<div class="col-md-1"></div>-->
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="-500"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)] = 'date'
        (keypress)="eventHandler($event)">
      <div class="input-group-append">
        <button
          class="btn btn-primary"
          type="button"
          (click)="showYear()">Go To Date</button>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


