 You can add global styles to this file, and also import other style files
.colouredNavbar {
  background-color: #232323 !important;
  color: #004cff;
}

.navbar-light .navbar-brand {
  text-shadow: 3px 3px 6px #ececec;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  text-shadow: 3px 3px 6px white;
}

.btn-icon-primary {
  color: #004cff;
  background-color: #fff;
  border-color: #fff;
  border-top-color: rgb(0, 123, 255);
  border-right-color: rgb(0, 123, 255);
  border-bottom-color: rgb(0, 123, 255);
  border-left-color: rgb(0, 123, 255);
}

.card-light-panel {
  margin: 10px;
  background-color: #676767 !important;
}

.card-dark {
  background-color: #393939 !important;
}

.list-group-item-action {
  background-color: #393939 !important;
}

.row {
  width: 100%;
}

.map-item-icon {
  height: 32px;
  width: 32px;
}

.map-item-marker {
  color: black;
  width: 100px;
}

.map-item-label {
  font-size: 16px;
}
